#tooltip{
    height: 200px;
    width: 600px;
    background-color: #b6dbde;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    /* transition: all 0.3s ease-in-out; */
}
#tooltip-content{
    padding: 5px;

    background-color: brown;
    color: white;
    border-radius: 5px;
    /* display: none; */
    left: -400px;
    position: absolute;
    bottom: 10px;
    transition: all 0.3s ease-in-out;
 

}
/* using pseudo class hover on parent */
#tooltip:hover #tooltip-content{
    /* display: block; */
 left: 40px;
}
/* changing background color when hovering same element */
#login-btn:hover{
    background-color: red;
}

.abc:first-child{
    color: violet;
}
.abc:last-child{
    color: brown;
}

.abc:nth-child(3){
    color: blue;
}
h4:last-child{
    font-size: 20px;
 }
 h4:nth-child(4){
    color: blue;
 }
 h4:first-child{
    font-size: 10px;
 }

 /* default state of ancor tag */
 a:link{
color: orange;
 }
 a:visited{
    color: green;
 }
 a:active{
    color: gray;
 }
 a:hover{
    background-color: greenyellow;
    color: black;
    font-size: 20px;
    text-decoration: none;
 }